
package/contents/code/tools\.jsc

package/contents/config/config\.qmlc

package/contents/ui/ActionMenu\.qmlc

package/contents/ui/CompactRepresentation\.qmlc

package/contents/ui/ConfigGeneral\.qmlc

package/contents/ui/ItemGridDelegate\.qmlc

package/contents/ui/ItemGridView\.qmlc

package/contents/ui/MenuRepresentation\.qmlc

package/contents/ui/main\.qmlc

package/COPYING

package/ChangeLog
